.chart-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 800px;
    height: 800px;
    border: 1px solid #ccc;
    padding: 0 200px 0 200px;
    box-sizing: border-box;
    border-radius: 18px;
    }
    
    .chart-bar {
    flex: 1;
    background-color: blue;
    border-radius: 18px;
   
    margin: 0 5px;
    transition: height 0.5s;
    }
    
    .chart-label {
    text-align: center;
    margin-top: 5px;
    font-size: 12px;
    }
    
    .button-container {
    margin-top: 20px;
    }
    
    .button {
    padding: 5px 10px;
    margin-right: 5px;
    font-size: 14px;
    cursor: pointer;
    }